.main{
  position: relative;
	z-index: 2;
  border-top: 1px solid #e6e6e6;

  .toggle-all {
	  position: absolute;
	  right: 100%;
	  bottom: 100%;
	  width: 1px;
	  height: 1px;
	  border: none; /* Mobile Safari */
    opacity: 0;

    & + label{
	    position: absolute;
	    top: -52px;
	    left: -13px;
      width: 60px;
	    height: 34px;
	    font-size: 0;
      transform: rotate(90deg);
      cursor: pointer;

      &::before{
	      padding: 10px 27px 10px 27px;
	      color: #e6e6e6;
	      font-size: 22px;
        content: '❯';
      }
    }

    &:checked + label::before{
      color: #737373;
    }
  }

  .todo-list{
    margin: 0;
	  padding: 0;
    list-style: none;

    li{
      position: relative;
	    font-size: 24px;
      border-bottom: 1px solid #ededed;

      &:last-child{
        border-bottom: none;
      }

      .view{
      }

      .toggle{
	      position: absolute;
	      top: 0;
	      bottom: 0;
	      width: 40px;
	      /* auto, since non-WebKit browsers doesn't support input styling */
	      height: auto;
	      margin: auto 0;
        text-align: center;
	      border: none; /* Mobile Safari */
        opacity: 0;
	      -webkit-appearance: none;
        appearance: none;

        & + label{
          background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
	        background-repeat: no-repeat;
	        background-position: center left;
        }

        &:checked + label{
          background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
        }
      }

      label{
	      display: block;
	      padding: 15px 15px 15px 60px;
	      line-height: 1.2;
        word-break: break-all;
	      transition: color 0.4s;
      }

      &.editing{
	      padding: 0;
        border-bottom: none;

        &:last-child{
          margin-bottom: -1px;
        }

        .edit{
	        display: block;
	        width: 506px;
	        margin: 0 0 0 43px;
	        padding: 12px 16px;
        }

        .view{
          display: none;
        }
      }

      &.edit{
	      padding: 0;
        border-bottom: none;
      }

      &.completed{

        label{
          color: #d9d9d9;
	        text-decoration: line-through;
        }
      }

      .destroy{
	      position: absolute;
	      top: 0;
	      right: 10px;
	      bottom: 0;
        display: none;
	      width: 40px;
	      height: 40px;
	      margin: auto 0;
	      margin-bottom: 11px;
	      color: #cc9a9a;
	      font-size: 30px;
        transition: color 0.2s ease-out;

        &:hover{
          color: #af5b5e;
        }

        &::after{
          content: '×';
        }
      }

      &:hover{

        .destroy{
          display: block;
          cursor: pointer;
        }
      }

      .edit{
        display: none;
      }
    }
  }
}